.chartsetup {
  font-size: 1.4rem;
  width: 100%;
  &__pair {
    @extend .chartsetup;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;

    &--label {
      @extend .chartsetup;
      @media (max-width: $bp-small) {
        font-size: 4rem;
      }
    }
  }
  &__title {
    background-color: $color-light;
    border: none;
    width: 60%;
    text-align: right;

    @media (max-width: $bp-small) {
      font-size: 4rem;
    }
  }
  &__fontsize {
    width: 2rem;
    text-align: center;

    @media (max-width: $bp-small) {
      font-size: 4rem;
      width: 6rem;
    }
  }

  @media (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.incrementpair {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20%;

  &__btn {
    background-color: transparent;
    border: none;
    color: $color-light;
    font-size: 1.4rem;
    @media (max-width: $bp-small) {
      font-size: 4rem;
      height: 6rem;
      width: 6rem;
    }
  }

  &__btn:hover {
    cursor: pointer;
  }
}

.data {
  &__dropzone {
    width: 100%;
    height: 1.5rem;

    &--active {
      border: dotted green 0.3rem;
      border-radius: 0.25rem;
      height: 3rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__btn {
    &--blue {
      background-color: rgb(73, 140, 255);
    }
    &--green {
      background-color: rgb(42, 183, 75);
    }
  }

  &__box {
    background-color: rgb(60, 60, 60);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease;

    &--blue {
      border-top: solid 0.4rem rgb(73, 140, 255);
    }
    &--green {
      border-top: solid 0.4rem rgb(42, 183, 75);
    }
    &key {
      margin-top: 2.5rem;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__itemtitle {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    margin: 0;
    width: 100%;

    &:hover {
      cursor: grab;
    }

    @media (max-width: $bp-small) {
      font-size: 4rem;
    }
  }

  &__icon {
    height: 1.76rem;
    margin-right: 1rem;
    width: 1.76rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__cornericon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $bp-small) {
      margin-bottom: 1.5rem;
    }
  }

  &__blocklabel {
    align-items: center;
    border-radius: 0.3rem;
    display: flex;
    font-size: 1.2rem;
    height: 2.5rem;
    margin-right: 0.5rem;

    @media (max-width: $bp-small) {
      font-size: 4rem;
    }
  }

  &__blockinput {
    background-color: $color-light;
    border: none;
    border-radius: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    padding-right: 0.4rem;
    text-align: center;

    @media (max-width: $bp-small) {
      font-size: 4rem;
      width: 8rem;
      height: 4.5rem;
    }
  }

  &__keyiteminput {
    background-color: $color-light;
    border: none;
    border-radius: 0.3rem;
    width: 20rem;
    height: 2rem;
    margin: 0.4rem;

    @media (max-width: $bp-small) {
      font-size: 4rem;
      width: 45rem;
      height: 4.5rem;
    }
  }

  &__titleinput {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    @media (max-width: $bp-small) {
      margin-bottom: 1.5rem;
    }
  }

  &__textlabel {
    font-size: 1.2rem;

    @media (max-width: $bp-small) {
      font-size: 4rem;
    }
  }

  &__textinput {
    background-color: $color-light;
    border: none;
    border-radius: 0.3rem;
    width: 15rem;
    height: 2.5rem;
    margin: 0.5rem;
    padding-right: 0.4rem;
    text-align: right;

    @media (max-width: $bp-small) {
      font-size: 4rem;
      width: 45rem;
      height: 4.5rem;
    }
  }
}

.grabbed {
  opacity: 0.5;
}

.swatch {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;

  @media (max-width: $bp-small) {
    height: 4.5rem;
    width: 4.5rem;
  }
}

.addButtons {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.swatch:hover {
  cursor: pointer;
}

.colorpicker {
  position: absolute;
  transform: translateY(20px);
}
