.chartsetup {
  font-size: 1.4rem;
  width: 100%;
  &__pair {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;

    &--label {
      @media (max-width: $bp-small) {
        font-size: 4rem;
      }
    }
  }
  &__title {
    background-color: $color-light;
    border: none;
    width: 60%;
    text-align: right;

    @media (max-width: $bp-small) {
      font-size: 4rem;
    }
  }
  &__fontsize {
    width: 2rem;
    text-align: center;

    @media (max-width: $bp-small) {
      font-size: 4rem;
      width: 6rem;
    }
  }

  @media (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.incrementpair {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20%;

  &__btn {
    background-color: transparent;
    border: none;
    color: $color-light;
    font-size: 1.4rem;
    @media (max-width: $bp-small) {
      font-size: 4rem;
      height: 6rem;
      width: 6rem;
    }
  }

  &__btn:hover {
    cursor: pointer;
  }
}

.data__dropzone {
  width: 100%;
  height: 1rem;

  &--active {
    border: solid green 3px;
    margin-bottom: 1rem;
  }
}

.data__input--box {
  background-color: rgb(60, 60, 60);
  /* border: 3px solid rgb(33, 31, 31); */

  border-radius: 4%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  transition: all 0.5s ease;

  &key {
    margin-top: 2.5rem;
  }
}

.data__input--header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  width: 100%;
}

.data__input--section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.data__input--itemtitle {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  margin: 0;
  width: 80%;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.data__input--icon {
  height: 1.76rem;
  margin-right: 1rem;
  width: 1.76rem;

  &:hover {
    cursor: pointer;
  }
}

.data__input--cornericon {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 10%;
}

.data__input--block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $bp-small) {
    margin-bottom: 1.5rem;
  }
}

.data__input--blocklabel {
  align-items: center;
  border-radius: 0.3rem;
  display: flex;
  font-size: 1.2rem;
  height: 2.5rem;
  margin-right: 5px;

  @media (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.data__input--blockinput {
  background-color: $color-light;
  border: none;
  border-radius: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  padding-right: 0.4rem;
  text-align: center;

  @media (max-width: $bp-small) {
    font-size: 4rem;
    width: 8rem;
    height: 4.5rem;
  }
}

.data__input--keyItemInput {
  background-color: $color-light;
  border: none;
  border-radius: 0.3rem;
  width: 20rem;
  height: 2rem;
  margin: 0.4rem;

  @media (max-width: $bp-small) {
    font-size: 4rem;
    width: 45rem;
    height: 4.5rem;
  }
}

.data__input--settitle {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (max-width: $bp-small) {
    margin-bottom: 1.5rem;
  }
}

.data__input--textlabel {
  font-size: 1.2rem;

  @media (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.data__input--textinput {
  background-color: $color-light;
  border: none;
  border-radius: 0.3rem;
  width: 15rem;
  height: 2.5rem;
  margin: 0.5rem;
  padding-right: 0.4rem;
  text-align: right;

  @media (max-width: $bp-small) {
    font-size: 4rem;
    width: 45rem;
    height: 4.5rem;
  }
}

.swatch {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;

  @media (max-width: $bp-small) {
    height: 4.5rem;
    width: 4.5rem;
  }
}

.swatch:hover {
  cursor: pointer;
}

.colorpicker {
  position: absolute;
  transform: translateY(20px);
}
